aside {
	background-color: #0d0521;
	position: fixed;
	height: 100%;
	top: 70px;
	right: 0;
}

aside nav {
	position: relative;
	min-width: 35px;
	min-height: 30px;
}

.menu.hidden {
	display: none;
}

.menu {
	margin-top: 16px;
	display: flex;
	min-width: 180px;
	flex-direction: column;
	list-style-type: none;
	padding: 8px;
	padding-top: 24px;
	padding-bottom: 16px;
	gap: 16px;
	margin: 0;
}

.menu-button {
	position: absolute;
	width: 30px;
	height: 30px;
	cursor: pointer;
	left: 0;
	top: 0;
	background-color: transparent;
	color: white;
	border: none;
}

.menu-item {
	width: 100%;
	text-align: right;
}

.menu-item a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.menu-item a:hover {
	text-decoration: underline;
}
