.home {
	/*
	padding-left: 1rem;
	padding-right: 1rem;
	*/
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: baseline;
}

#root > main > div > div.container {
	max-width: 100%;
	width: 100%;
	padding: 3rem 10rem;
	background: linear-gradient(
			90deg,
			rgb(0, 0, 0) 0%,
			rgb(0, 0, 0) 20%,
			rgba(255, 255, 255, 0) 45%
		),
		url('/assets/images/home-deco1.webp');

	background-size: 140%; /* Asegura que la imagen cubra el contenedor */
	background-repeat: no-repeat; /* Evita que la imagen se repita */
	background-position: 0% 30%; /* Ajusta la posición de la imagen */
	border: 2px solid rgb(16 141 106);
}

.stack-container .container > h2 {
	line-height: 3.5rem;
	margin-top: 24px;
	text-align: center;
}

.stack-container .container > h4 {
	margin-top: 24px;
	line-height: 2.4rem;
	font-size: 2.2rem;
	text-align: center;
}

/*
.stack-container img {
	width: 400px;
	height: 300px;
	margin: auto;
	margin-top: 32px;
}
*/

.home-button {
	min-width: 150px;
}

@media screen and (min-width: 600px) {
	:root {
		font-size: 6pt;
	}

	.stack-container .container > h2 {
		text-align: left;
	}

	.stack-container .container > h4 {
		text-align: left;
	}

	.stack-container .container .box-container {
		justify-content: left;
	}

	.stack-container img {
		/*
		width: 500px;
		*/
		height: 400px;
		margin: auto;
		margin-top: 32px;
	}
}

@media screen and (max-width: 900px) {
	:root {
		font-size: 6pt;
	}
	#root > main > div > div.container {
		padding: 3rem 3rem;
	}
	.stack-container .container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.stack-container img {
		width: 600px;
		height: 500px;
		margin: auto;
		margin-top: 32px;
	}
}

@media screen and (max-width: 1100px) {
	:root {
		font-size: 9pt;
	}

	.home {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	.stack-container img {
		width: 700px;
		height: 600px;
		margin: auto;
		margin-top: 32px;
	}
}

@media screen and (min-width: 1100px) {
	:root {
		font-size: 12pt;
	}

	.home {
		margin: auto;
		max-width: 1500px;
	}

	.stack-container .container > h2 {
		font-size: 5rem;
		line-height: 5rem;
	}

	.stack-container .container > h4 {
		text-align: left;
	}

	.stack-container img {
		width: 800px;
		/*
		height: 700px;*/
		margin: auto;
		margin-top: 32px;
	}
}
