.signup-button {
	background-color: transparent;
	color: white;
	font-weight: normal;
	border: 1px solid white;
	border-radius: 3px;
	cursor: pointer;
	padding: 4px 12px;
	margin-left: 6px;
	background-color: #0d0521;
}
