.edit-profile-form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.remove-margin {
	margin-left: 0 !important;
}

p {
	color: white;
}

label {
	background-color: transparent !important;
}
